# cat /etc/systemd/system/example_prod.service
[Unit]
Description=safetyshoes.bg production on .Net Core

[Service]
WorkingDirectory=/root/safetyshoes/publish
ExecStart=/usr/bin/dotnet /root/safetyshoes/publish/SimplCommerce.WebHost.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=safetyshoes_production
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=true

[Install]
WantedBy=multi-user.target